node_modules/
cdk.out/
*.js
*.d.ts
*.js.map
coverage/
.env
.env.*
dist/
.DS_Store
*.tsbuildinfo

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
